<div class="dashboard-menu">
    <ul class="nav flex-column" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profiles:profile' %}"><i
                    class="fi-rs-settings-sliders mr-10"></i>Панель управлени</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'orders:order_list' %}"><i
                    class="fi-rs-shopping-bag mr-10"></i>Мои заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profiles:my_address' %}"><i
                    class="fi-rs-marker mr-10"></i>Мои адреса</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profiles:update_profile' %}"><i
                    class="fi-rs-user mr-10"></i>Данные пользователя</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'change_email' %}"><i
                    class="fi-rs-user mr-10"></i>Изменить Email</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="{% url 'password_change' %}"><i class="fi-rs-user mr-10"></i>Изменить
                пароль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"><i
                    class="fi-rs-sign-out mr-10"></i>Выход</a>
        </li>
    </ul>
</div>
